In [3]:
#1 Прочитайте csv файл (метод read_csv):
import pandas as pd
import numpy as np

#1 Прочитайте CSV файл (використовуйте метод read_csv):
df = pd.read_csv("/content/sample_data/bestsellers.csv", encoding='latin-1')

In [4]:
#2 Виведіть перші 10 рядків (метод head):
df_head_10 = df.head(10)
print(df_head_10)

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [6]:
#3 Виведіть розміри датасету (метод shape):
print("Про скільки книг зберігає дані датасет?")
print(df.shape)

Про скільки книг зберігає дані датасет?
(550, 7)

In [8]:
#4	Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

# Виведіть перші 10 рядків для перевірки
print(df.head(10))

                                                name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     author  user_rating  reviews  price  year        genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [9]:
#5	Вивести кількість пропусків у кожному стовпчику:

# Перевірка пропусків і підрахунок їх кількості в кожному стовпці, виведення кількості пропусків у кожному стовпці
propusci = df.isna().sum()
print("Кількість пропусків у кожному зі стовпців:")
print(propusci)

print("Чи є в якихось змінних пропуски? (Так / ні)")
if propusci.sum() > 0:
    print("Так")
else:
    print("Ні")

Кількість пропусків у кожному зі стовпців:
name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Ні

In [10]:
#6 За допомогою методу unique перевірте, які є унікальні жанри в стовпці genre:
print("Які є унікальні жанри?")
unique_genres = df['genre'].unique()
print(unique_genres)

['Non Fiction' 'Fiction']

In [12]:
#7 Визначте максимальну, мінімальну, медіанну ціну за допомогою методів max, min, mean, median:
# Максимальна ціна
max_cina = df['price'].max()
# Мінімальна ціна
min_cina = df['price'].min()
# Середня ціна
mean_cina = df['price'].mean()
# Медіанна ціна
median_cina = df['price'].median()

print("Максимальна ціна:", max_cina)
print("Мінімальна ціна:", min_cina)
print("Середня ціна:", mean_cina)
print("Медіанна ціна:", median_cina)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [19]:
#8	Виконайте наступні завдання з пошуку і сортування даних:

# Питання: Який рейтинг у датасеті найвищий?
nayvyschiy_rating = df['user_rating'].max()
print("Найвищий рейтинг:", nayvyschiy_rating)

# Питання: Скільки книг мають такий рейтинг?
knyhy_z_nayvyschim_rating = df[df['user_rating'] == nayvyschiy_rating]
chyslo_knyh_z_nayvyschim_rating = len(knyhy_z_nayvyschim_rating)
print("\nКількість книг з найвищим рейтингом:", chyslo_knyh_z_nayvyschim_rating)

#Питання: Яка книга має найбільше відгуків?
knyha_z_naybilshymy_vidhukamy = df[df['reviews'] == df['reviews'].max()]
print("\nКнига з найбільшою кількістю відгуків:")
print(knyha_z_naybilshymy_vidhukamy[['name', 'reviews']])

#Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
top_2010_knyhy = df[df['year'] == 2010]
naydorozhcha_2010_knyha = top_2010_knyhy[top_2010_knyhy['price'] == top_2010_knyhy['price'].max()]
print("\nНайдорожча книга серед тих, що потрапили до Топ-50 у 2010 році:")
print(naydorozhcha_2010_knyha[['name', 'price']])

#Питання: Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році?
fiction_knyhy_2012 = df[(df['genre'] == 'Fiction') & (df['year'] == 2012)]
chyslo_fiction_knyhy_2012 = len(fiction_knyhy_2012)
print("\nКількість книг жанру Fiction у Топ-50 у 2012 році:", chyslo_fiction_knyhy_2012)

#Питання: Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?
reytung_knyhy_2010_2011 = df[(df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))]
chyslo_reytung_knyhy_2010_2011 = len(reytung_knyhy_2010_2011)
print("\nКількість книг з рейтингом 4.9 у 2010 та 2011 роках:", chyslo_reytung_knyhy_2010_2011)

Найвищий рейтинг: 4.9

Кількість книг з найвищим рейтингом: 52

Книга з найбільшою кількістю відгуків:
                        name  reviews
534  Where the Crawdads Sing    87841

Найдорожча книга серед тих, що потрапили до Топ-50 у 2010 році:
                                                  name  price
272  Publication Manual of the American Psychologic...     46

Кількість книг жанру Fiction у Топ-50 у 2012 році: 21

Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: 1

In [20]:
#9 Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction(за допомогою методів groupby та agg, для підрахунку
#мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці:

fiction_prices = df[df['genre'] == 'Fiction'].groupby('genre')['price'].agg([max, min])

non_fiction_prices = df[df['genre'] == 'Non Fiction'].groupby('genre')['price'].agg([max, min])

# Виводимо результати
print("Максимальна та мінімальна ціна для жанру Fiction:")
print(fiction_prices)

print("\nМаксимальна та мінімальна ціна для жанру NonFiction:")
print(non_fiction_prices)

Максимальна та мінімальна ціна для жанру Fiction:
         max  min
genre
Fiction   82    0

Максимальна та мінімальна ціна для жанру NonFiction:
             max  min
genre
Non Fiction  105    0